@model UnitTesting.ViewModels.StormSessionViewModel

@{
    ViewData["Title"] = Model.Name;
}

<div class="panel panel-default">
    <div class="panel-heading">
        @Model.Name - @Model.CreatedDate
    </div>
</div>
